html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;

}

header {
  background-color: #129490;
  color: white;
  padding: 1rem 2rem;
}

header h1 {
  margin: 0;
}

nav {
  margin-top: 0.5rem;
}

nav a {
  color: white;
  text-decoration: none;
  margin-right: 1rem;
}

nav a:hover {
  color: #E0A890; 
}

main {
  padding: 2rem;
  flex: 1;
}

.section {
  background-color: white;
  margin-bottom: 1.5rem;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-left: 6px solid #70B77E;
}

footer {
  background-color: #065143;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #129490;
  color: white;
  text-align: center;
}

.welcome-container h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.welcome-container p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.welcome-container button {
  background-color: #E0A890;
  color: #065143;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.welcome-container button:hover {
  background-color: #CE1483;
  color: white;
}
